site_name: Security Reporting Tool
repo_url: https://github.com/s3r3t0/sereto
site_url: https://sereto.s4n.cz

theme:
  name: material
  logo: assets/logo/sereto_line_white.svg
  custom_dir: docs_overrides
  font:
    code: monospace

  palette:

    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode

  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.top

plugins:
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_root_heading: true
            docstring_style: google
  - search
  - privacy

markdown_extensions:
  - attr_list
  - toc:
      permalink: true
  - abbr
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - index.md
  - Concepts:
    - concepts/idea.md
    - concepts/project_files.md
    - concepts/report_structure.md
    - concepts/sow_structure.md
    - concepts/settings.md
  - Getting Started:
    - getting_started/installation.md
    - getting_started/settings.md
    - getting_started/security_considerations.md
  - usage.md
  - Templates:
    - default_templates/structure.md
    - default_templates/building_blocks.md
    - default_templates/markdown_building_blocks.md
  - Reference:
    - CLI:
      - reference/cli/cli.md
      - reference/cli/commands.md
      - reference/cli/config.md
      - reference/cli/date.md
      - reference/cli/finding.md
      - reference/cli/person.md
      - reference/cli/target.md
      - reference/cli/utils.md
    - Models:
      - reference/models/base.md
      - reference/models/config.md
      - reference/models/date.md
      - reference/models/finding.md
      - reference/models/person.md
      - reference/models/settings.md
      - reference/models/target.md
      - reference/models/version.md
    - TUI:
      - reference/tui/finding.md
    - reference/build.md
    - reference/config.md
    - reference/convert.md
    - reference/crypto.md
    - reference/enums.md
    - reference/exceptions.md
    - reference/finding.md
    - reference/jinja.md
    - reference/pdf.md
    - reference/plot.md
    - reference/project.md
    - reference/report.md
    - reference/retest.md
    - reference/risk.md
    - reference/settings.md
    - reference/singleton.md
    - reference/source_archive.md
    - reference/sow.md
    - reference/target.md
    - reference/types.md
    - reference/utils.md
  - Development:
    - development/documentation.md
    - development/tests.md
    - development/code.md
